Source: phpmap
Section: utils
Priority: optional
Maintainer: MQZ <g.s3cure@gmail.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Homepage: https://github.com/mqz0211/phpmap

Package: phpmap
Architecture: all
Depends: ${misc:Depends}, python3, python3-requests
Description: PHP vulnerability scanner & exploitation toolkit
 A modular CLI tool to find and exploit common PHP vulnerabilities like LFI, RCE,
 file upload bypasses and deserialization flaws.
